<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>店舗名</td><td><%= data.name %></td></tr>
    <tr><td>平均予算</td><td><%= data.price %>円</td></tr>
    <tr><td>ジャンル</td><td><%= data.category %></td></tr>
  </table>
  
  <a href="/skylark/edit/<%= id %>">編集</a>
  <a href="/skylark/delete/<%= id %>">削除</a>
  <br>
  <a href="/skylark">一覧に戻る</a>
</body>
</html>