<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>すかいらーく編集</title>
</head>
<body>
    <h2>編集: <%= data.name %></h2>
    
    <form action="/skylark/update/<%= id %>" method="POST">
        <input type="text" name="name" value="<%= data.name %>" required>
        <label for="name">店舗名:</label><br>

        <input type="number" name="price" value="<%= data.price %>" required>
        <label for="price">平均予算:</label><br>

        <input type="text" name="category" value="<%= data.category %>" required>
        <label for="category">ジャンル:</label><br>

        
        


        <input type="submit" value="更新">
    </form>
    
    <br>
    <a href="/skylark">一覧に戻る</a>
</body>
</html>